@use "../../scss/vars.scss" as *;


#bar{

  margin: 2em auto;

  width: 50%;
  border-radius: 4px;
  // height: 4em;
  font-family: "Work Sans", sans-serif;
  background: $primary-color;

  .title{

    font-weight: 500;
    font-style: italic;
    font-family: inherit;
  }

  .search{
    position: relative;
    flex: 5;
    padding: 0.2em;


    

    background-color: $primary-light-color;
    border-radius: 6px;

    transition: all .5s ease;

    &:hover{
      background: rgba(#fff, 0.4)
    }


    .icon{
      left: 0.5em;
      top: 0;
      height: 100%;  

      position: absolute;

      display:flex;
      align-items: center;
      justify-content: center;


    }

    .inputRoot{
      padding-left: 2em;
      width: 100%;

      .inputText{
        transition: width 1s ease;

        color: white;
        width: 100%;
      }
    }
    
  }


}

